<div class="div">
  <h1 class="name">请您尽快安排商品的备货及发货</h1>
  <p class="p">
    <span class="text-wrapper">为确保交易顺利进行，请及时安排以下订单的备货及发货事宜</span>
    <br />
    <span class="span">请在发货截止日期前完成发货处理</span>
  </p>
</div>
<div class="table-container">
  <div class="table" role="table">
    <div class="tr" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">订单号</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{order_number}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">商品名称</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{product_name}</div></div>
    </div>
  </div>
</div>
<div class="div-2">
  <div class="text-wrapper-4">发货处理及运单录入，请通过卖家综合管理网站内</div>
  <div>‘订单/发货 > 订单管理’菜单进行操作</div>
</div>
<div class="div-2-2">
  <div class="text-wrapper-4">※ 若未按时发货，可能会影响交易进度，请务必遵守发货时限</div>
</div>
