<div class="div">
  <h1 class="name">OEM报价咨询接收</h1>
  <p class="p">
    <span class="span">OEM 报价咨询已成功接收<br />请查看需求详情，并决定是否提交报价方案及是否确认接单 </span>
  </p>
</div>
<div class="table-container">
  <div class="table" role="table">
    <div class="tr" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">咨询商品名称</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{product_name}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">提交时间</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{inquiry_date}</div></div>
    </div>
  </div>
</div>
<div class="div-2">
  <div>请通过卖家管理网站内的‘订单/发货 > OEM咨询管理’菜单中查看详细信息</div>
</div>
<div class="div-2-2">
  <div class="text-wrapper-4">愿与买家畅达沟通，商祺共荣</div>
</div>
