<div class="div">
  <h1 class="name">OEM QC 结果通知</h1>
  <p class="p">
    <span class="span">您提交的OEM商品QC资料审核的结果已完成，现将结果通知如下 </span>
  </p>
</div>
<div class="table-container">
  <div class="table" role="table">
    <div class="tr" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">商品名称</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{product_name}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">审核结果</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{review_result}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">处理日期</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{decision_date}</div></div>
    </div>
  </div>
</div>
<div class="div-2">
  <div>请通过卖家管理网站内的‘订单/发货 > <span class="text-wrapper-5">OEM QC 管理</span>’菜单中查看详细信息</div>
</div>
<div class="div-2-2">
  <div class="text-wrapper-4">审核通过：请尽快安排备货，确保按时交付</div>
  <div class="text-wrapper-4">审核退回：请根据反馈意见修改完善后，重新提交之间资料</div>
</div>
