<div class="div">
  <h1 class="name">您的入驻申请未通过审核</h1>
  <p class="p">
    <span class="span"
      >亲爱的#{name}，很遗憾地通知您，<br />感谢您对SourcingRoot平台的关注于支持 <br />
      经审核，您的入驻申请暂未通过，具体原因可能与提交的材料或资质要求不符
    </span>
  </p>
</div>

<div class="text-url-wrapper">
  <div class="b-text-center">
    在店铺运营过程中，如有任何疑问或需要帮助，
    <br />
    请随时通过卖家管理网站内的‘我的店铺 > 店铺管理 > 账户设置’中
    <br />
    补充或完善入驻申请资料后，重新提交申请
  </div>
</div>

<p class="div-2">
  <span class="text-wrapper-4"
    >若多次申请未通过，请联系SourcingRoot客户服务中心（电话/邮件）<br />
    我们将为您核查原因并提供针对性指导
    <br />我们期待与您携手合作，祝您早日入驻成功！<br />谢谢
  </span>
</p>
