<div class="div">
  <h1 class="name">OEM QC 결과를 알려드립니다</h1>
  <p class="p">
    <span class="span">판매자님께서 등록하신 OEM 제품 QC 자료에 대한 구매자의 검토가 완료되어 <br />아래와 같이 결과를 안내해 드립니다. </span>
  </p>
</div>
<div class="table-container">
  <div class="table" role="table">
    <div class="tr" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">상품명</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{product_name}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">검토 결과</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{review_result}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">처리일자</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{decision_date}</div></div>
    </div>
  </div>
</div>
<div class="div-2">
  <div>자세한 내용은 판매자 통합 관리 시스템 내<br />‘주문/배송 > <span class="text-wrapper-5">OEM QC 관리</span>’메뉴에서 확인하실 수 있습니다.</div>
</div>
<div class="div-2-2">
  <div class="text-wrapper-4">승인된 경우에는 다음 단계로 진행해 주시고, <br />반려된 경우에는 내용을 보완해 다시 등록해 주시기를 바랍니다.</div>
</div>
