<div class="div">
  <h1 class="name">주문이 정상적으로 취소되었습니다</h1>
  <p class="p">
    <span class="text-wrapper">소싱루트를 이용해 주셔서 감사합니다.</span>
    <br />
    <span class="span">#{name}님께서 요청하신 주문이 아래와 같이 <br />정상적으로 취소 처리되었음을 안내해 드립니다.</span>
  </p>
</div>
<div class="table-container">
  <div class="table" role="table">
    <div class="tr" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">주문번호</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{order_number}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">상품명</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{product_name}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">취소일자</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{date_cxl}</div></div>
    </div>
  </div>
</div>
<div class="div-2">
  <div>해당 주문 건은 화면 우측 상단의 ‘사용자 아이콘 > 나의 주문 > <span class="text-wrapper-5">취소내역</span>’에서 확인하실 수 있습니다.</div>
</div>
<div class="div-2-2">
  <div class="text-wrapper-4">소싱루트를 이용해 주셔서 진심으로 감사드리며, <br />앞으로도 더욱 신뢰할 수 있는 서비스로 보답하겠습니다.</div>
</div>
