<div class="div">
  <h1 class="name">종합 물류비 결제를 요청드립니다</h1>
  <p class="p">
    <span class="span">주문하신 건의 국제 배송을 위해 종합 물류비용 결제를 요청드립니다. <br />아래 내용을 확인하신 후, 결제를 진행해 주시기를 바랍니다. </span>
  </p>
</div>
<div class="table-container">
  <div class="table" role="table">
    <div class="tr" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">주문번호</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{order_number}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">상품명</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{product_name}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">결제금액</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{amount_requested}원</div></div>
    </div>
  </div>
</div>
<div class="div-2">
  <div>결제는 화면 우측 상단의 ‘사용자 아이콘 > 나의 주문 > <span class="text-wrapper-5">주문내역</span>’에서 <br />진행해주시길 바랍니다.</div>
</div>
<div class="div-2-2">
  <div class="text-wrapper-4">결제 완료 후 국제 배송 절차가 신속하게 진행될 예정입니다. <br />소싱루트를 이용해 주셔서 감사합니다.</div>
</div>
