<div class="div">
  <h1 class="name">요청하신 주문을 검토 중입니다</h1>
  <p class="p">
    <span class="text-wrapper">소싱루트를 이용해 주셔서 감사합니다.</span>
    <br />
    <span class="span">#{name}님께서 접수하신 주문의 가능 여부를 현재 확인하고 있으며, <br />검토가 완료되는 대로 신속히 안내해 드릴 예정입니다.</span>
  </p>
</div>
<div class="table-container">
  <div class="table" role="table">
    <div class="tr" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">주문번호</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{order_number}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">상품명</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{product_name}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">주문일시</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{order_date}</div></div>
    </div>
  </div>
</div>
<div class="div-2">
  <div class="text-wrapper-4">주문 상세 내역과 진행 상황은 로그인 후</div>
  <div>화면 우측 상단의 ‘사용자 아이콘 > 나의 주문 > <span class="text-wrapper-5">주문내역</span>’에서 확인해 주시길 바랍니다.</div>
</div>
<div class="div-2-2">
  <div class="text-wrapper-4">추가로 궁금하신 점이나 도움이 필요하신 경우, 언제든지 고객센터로 문의해 주시기를 바랍니다. <br />소싱루트가 고객님의 원활한 소싱을 항상 응원하겠습니다!</div>
</div>
