<div class="div">
  <h1 class="name">판매자 QC 자료를 검토해주세요</h1>
  <p class="p">
    <span class="span"
      >#{name}님께서 주문하신 상품에 대한 판매자 제공 QC 자료 등록이 완료되었음을 안내해 드립니다. <br />판매자가 직접 업로드한 이미지 및 영상 자료의 내용을 확인하신 후 승인 여부를 결정해 주시기
      바랍니다.
    </span>
  </p>
</div>
<div class="table-container">
  <div class="table" role="table">
    <div class="tr" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">주문번호</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{order_number}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">상품명</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{product_name}</div></div>
    </div>
  </div>
</div>
<div class="div-2">
  <div>자세한 내용은 화면 우측 상단의 ‘사용자 아이콘 > 나의 주문 > <span class="text-wrapper-5">주문내역</span>’에서<br />진행해주시길 바랍니다.</div>
</div>
<div class="div-2-2">
  <div class="text-wrapper-4">신뢰할 수 있는 상품 공급을 위해 항상 최선을 다하겠습니다.</div>
</div>
