<div class="div">
  <h1 class="name">#{name}님, 스토어 입점을 진심으로 환영합니다.</h1>
  <p class="p">
    <span class="span">#{name}님께서 신청해 주신 #{store name} 스토어의 입점이<br />정상적으로 승인되었음을 안내해 드립니다🎉</span>
  </p>
</div>

<div class="text-url-wrapper">
  <div class="b-text-center">
    스토어 운영 중 문의 사항이나 도움이 필요하신 경우 도움말 센터를 이용하시거나 <br />
    ‘CS센터 > 내 상담’ 메뉴를 통해 언제든지 문의해 주시면 신속하게 도움 드리겠습니다.
  </div>
</div>

<p class="div-2">
  <span class="text-wrapper-4"
    >앞으로 #{name}님의 스토어가 국내뿐만 아니라<br />글로벌 바이어와의 연결 통로로 성장할 수 있도록 소싱루트가 항상 함께하겠습니다.<br />
    다시 한번 입점을 축하드리며, 성공적인 판매 활동을 응원합니다!</span
  >
</p>
