<div class="div">
  <h1 class="name">パスワードを再設定してください。</h1>
  <p class="p">
    <span class="span"
      >#{name}様, <br />いつもSourcingRootをご利用いただき誠にありがとうございます。 <br />
      下記のリンクをクリックしてパスワードを再設定してください。
    </span>
  </p>
</div>

<p class="text-url-wrapper">
  <a href="#" class="text-url">#{url}</a>
</p>

<p class="div-2">
  <span class="text-wrapper-4">リンクはメールの受信時点から60分まで有効します。<br />※リンクが接続できない場合、 URLをコピーしてアドレスバーに張り付いてください。 </span>
</p>

<p class="div-2">
  <span class="text-wrapper-4">認証有効期間 : #{date}</span>
</p>
