<div class="div">
  <h1 class="name">#{name}様, ソーシングルートへようこそ！</h1>
  <p class="p">
    <span class="text-wrapper">世界の工場が集まるSourcingRootに会員登録いただき、ありがとうございます。</span>
    <span class="span">お客様の会員情報が下記のようになります。</span>
  </p>
</div>
<div class="table-container">
  <div class="table" role="table">
    <div class="tr" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">氏名</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{name}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">Email (ID)</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{email address}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">会社名</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{company name}</div></div>
    </div>
  </div>
  <p class="div-2">
    <span class="text-wrapper-4">詳細な情報はログインの後、 画面の右上の“会員アイコン＞マイページ＞</span>
    <a href="https://www.sourcingroot.jp/login" target="_blank" class="text-wrapper-5">会員情報</a>
    <span class="text-wrapper-4">メニューからご確認お願いします。</span>
  </p>
</div>
