<div class="div">
  <h1 class="name">OEM見積のお問い合わせについて、返信が作成されました。</h1>
  <p class="p">
    <span class="span"
      >いつもSourcingRootをご利用いただき誠にありがとうございます。
      <br />#{name}様が要請したOEM見積のお問い合わせにつきまして、　販売者からの返信が登録されました。<br />販売者が記載した見積の情報及び関連資料を確認した後、購入の可否または追加のお問い合わせを進んでください。</span
    >
  </p>
</div>
<div class="table-container">
  <div class="table" role="table">
    <div class="tr" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">問い合わせの商品名</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{product_name}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">販売者返信日</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{reply_date}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">見積額</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{quoted_price}円</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">見積の有効期限</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{valid_until} まで有効</div></div>
    </div>
  </div>
</div>
<div class="div-2">
  <div>詳しい内容は画面の右上の“会員アイコン＞MY注文＞<span class="text-wrapper-5">OEM見積依頼</span>”から進んでください。</div>
</div>
<div class="div-2-2">
  <div class="text-wrapper-4">販売者との円滑な協議を通じて満足な結果に繋がるように応援いたします。</div>
</div>
