<div class="div">
  <h1 class="name">総合物流費のお支払いをお願い致します。</h1>
  <p class="p">
    <span class="span"
      >いつもSourcingRootをご利用いただき誠にありがとうございます。 <br />当該注文の国際運送のため、総合物流費のご請求いたします。<br />下記の内容を確認して, 支払を進んでください。</span
    >
  </p>
</div>
<div class="table-container">
  <div class="table" role="table">
    <div class="tr" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">注文番号</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{order_number}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">商品名</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{product_name}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">支払方法</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{amount_requested}円</div></div>
    </div>
  </div>
</div>
<div class="div-2">
  <div>支払いは画面の右上の“会員アイコン＞MY注文＞<span class="text-wrapper-5">注文履歴</span>”から進んでください。</div>
</div>
<div class="div-2-2">
  <div class="text-wrapper-4">支払い完了後、運送及び後続手続きが速やかに進む予定になります。</div>
</div>
