<div class="div">
  <h1 class="name">商品のお支払いをお願い致します。</h1>
  <p class="p">
    <span class="span">いつもSourcingRootをご利用いただき誠にありがとうございます。<br />#{name}様が注文した商品に対して下記のようにご請求いたします。 </span>
  </p>
</div>
<div class="table-container">
  <div class="table" role="table">
    <div class="tr" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">注文番号</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{order_number}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">商品名</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{product_name}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">注文日</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{order_date}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">支払金額</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{amount_requested}円</div></div>
    </div>
  </div>
</div>
<div class="div-2">
  <div>支払いは画面の右上の“会員アイコン＞MY注文＞<span class="text-wrapper-5">注文履歴</span>”から進んでください</div>
</div>
<div class="div-2-2">
  <div class="text-wrapper-4">支払い完了後、商品準備及び運送手続きが速やかに進む予定になります。</div>
</div>
