<div class="div">
  <h1 class="name">付加サービス(QC)の資料をご検討をお願いします。</h1>
  <p class="p">
    <span class="span"
      >いつもSourcingRootをご利用いただき誠にありがとうございます。
      <br />#{name}様が要請した付加サービス(QC)の項目につきまして、<br />SourcingRootからの検査と撮影資料の登録完了をご案内いたします。<br />
      商品のイメージと動画の資料を確認した後、承認の可否を決めてください。
    </span>
  </p>
</div>
<div class="table-container">
  <div class="table" role="table">
    <div class="tr" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">注文番号</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{order_number}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">商品名</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{product_name}</div></div>
    </div>
  </div>
</div>
<div class="div-2">
  <div>詳しい内容は画面の右上の“会員アイコン＞MY注文＞<span class="text-wrapper-5">注文履歴</span>”から進んでください。</div>
</div>
<div class="div-2-2">
  <div class="text-wrapper-4">より信頼できるサービスの提供のために努力いたします。</div>
</div>
