<div class="div">
  <h1 class="name">お客様のご注文を検討しております。</h1>
  <p class="p">
    <span class="text-wrapper">いつもSourcingRootをご利用いただき誠にありがとうございます。</span>
    <br />
    <span class="span">#{name}様から受け取ったご注文の可否を確認しておりまして、<br />検討の完了次第、ご案内致します。 </span>
  </p>
</div>
<div class="table-container">
  <div class="table" role="table">
    <div class="tr" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">注文番号</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{order_number}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">商品名</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{product_name}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">注文日</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{order_date}</div></div>
    </div>
  </div>
</div>
<div class="div-2">
  <div class="text-wrapper-4">注文の詳細内訳と進行状況は、ログイン後、</div>
  <div>画面の右上の“会員アイコン＞MY注文＞<span class="text-wrapper-5">注文履歴</span>”からご確認ください。</div>
</div>
<div class="div-2-2">
  <div class="text-wrapper-4">ご不明な点がございましたら、お気軽にヘルプセンターまでお問い合わせください。 <br />urcingRootがいつもお客様の円滑なソーシングを応援しております！</div>
</div>
