<div class="div">
  <h1 class="name">ご注文が成功的に取消しました。</h1>
  <p class="p">
    <span class="text-wrapper">いつもSourcingRootをご利用いただき誠にありがとうございます。</span>
    <br />
    <span class="span">#{name}様から要請した注文が <br />下記のように取消し完了をご案内します。</span>
  </p>
</div>
<div class="table-container">
  <div class="table" role="table">
    <div class="tr" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">注文番号</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{order_number}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">商品名</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{product_name}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">取消し日</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{date_cxl}</div></div>
    </div>
  </div>
</div>
<div class="div-2">
  <div>当該注文は画面の右上の“会員アイコン＞MY注文＞<span class="text-wrapper-5">キャンセル履歴</span>”からご確認ください。</div>
</div>
<div class="div-2-2">
  <div class="text-wrapper-4">今後ともより信頼できるサービスで応えます。</div>
</div>
