<div class="div">
  <h1 class="name">QC資料のご検討をお願いします。</h1>
  <p class="p">
    <span class="span">#{name}様が注文した商品に対して販売者からのQC資料の登録が完了しました。<br />販売者がアップロードしたイメージと動画の資料を確認した後、採否を決めてください。 </span>
  </p>
</div>
<div class="table-container">
  <div class="table" role="table">
    <div class="tr" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">注文番号</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{order_number}</div></div>
    </div>
    <div class="tr-2" role="row">
      <div class="th" role="columnheader"><div class="text-wrapper-2">商品名</div></div>
      <div class="td" role="cell"><div class="text-wrapper-3">#{product_name}</div></div>
    </div>
  </div>
</div>
<div class="div-2">
  <div>詳しい内容は画面の右上の“会員アイコン＞MY注文＞<span class="text-wrapper-5">注文履歴</span>”から進んでください。</div>
</div>
<div class="div-2-2">
  <div class="text-wrapper-4">信頼できる商品の供給のため、いつも努力いたします。</div>
</div>
